body {
    font-family: 'Permanent Marker', cursive;
}

#box {
    width: 500px;
    height: 550px;
    background-color:#F5E6E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #192A51;
    border-radius: 25px;
    border: 5px solid #192A51;
}

#cat-image {
    background-color: #F5E6E8;
    max-width: 300px;
    max-height: 300px; 
    min-width: 300px;
    min-height: 300px;
    /* background-size: cover; */
    object-fit: contain;
    border-radius: 25px;
    border: 5px solid #967AA1;
}

#name {
    padding: 20px;
    color: #192A51;
    font-size: 25px;
}

/* #popcorn {

} */

#start {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #192A51;
    border-radius: 25px;
    /* cursor: url(pop.png); */
}

#start:hover {
    /* background-color: #AAA1C8; */
    filter: drop-shadow(0 0 0.3rem crimson);
    /* cursor: url(pop.png); */
    /* cursor: pointer; */
}

